/* There is a goal to use good class names or, more particularly with this website, carefully chosen
identity names which help for recognition on the styling. Additional commenting can assist, however
a lot of the identities are descriptively worded to assist  */

/* This resets potential built in browser settings that would otherwise impose their own margin/padding.
It also sets our box sizing to work within manageable border-box sizing. */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* This helps to control our styling for links */

a,
a:link,
a:active,
a:visited {
  text-decoration: none;
  color: white;
}

/* Our topbar has multiple sections that display (or not) depending on viewports. 
It is particularly important for our tablets and phones. It can be noted to hold many
components, as also noted in the HTML. */

#topbar {
  grid-column: 1 / span 2;
  grid-row: 1 / span 1;

  display: grid;
  grid-template-columns: 3% 25% 46% 25% 3%;
  grid-template-rows: 20px;
  background-color: black;

  padding: 15px;
  justify-content: space-around;

  display: none;
}

header section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 30px;
  position: relative;
  height: 25px;
}

#topbar_contact {
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
}

#topbar_my_contact a {
  color: rgb(180, 180, 180);
  font-size: 4em;
}

#topbar_menu a {
  color: rgb(180, 180, 180);
  font-size: 3em;
}

#topbar_heading {
  grid-column: 3 / span 1;
  grid-row: 1 / span 1;
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 2.5em;
  color: white;
}

#topbar_menu {
  grid-column: 5 / span 1;
  grid-row: 1 / span 1;
  width: 100%;

  display: flex;
  justify-content: flex-start;
}

#topbar_menu p {
  position: relative;
  right: 80px;
  color: rgba(255, 255, 255, 0.8);
  font-family: Arial, Helvetica, sans-serif;

  letter-spacing: 0.3em;
  font-size: 1.5em;

  bottom: 30%;
}

/* Here is a broader container for the top part of the site. It allows control over many 
of the components as mentioned in the HTML, including headings, images and navigation */

#top_of_site_section {
  display: grid;
  grid-template-columns: 55% 45%;
  grid-template-rows: 1px 300px 80px 450px 80px;
  color: white;
  background-color: black;
  overflow: hidden;
}

#top_of_site_section figure {
  grid-column: 1 / span 1;
  grid-row: 2 / span 3;

  display: flex;
  /* width: 55%;     */
  background-color: black;
  box-shadow: -3px 5px 10px 0px rgb(0, 0, 0);
  justify-content: center;
}

#main_image {
  position: relative;
  height: 100%;
}

#top_of_site_section h1,
h2 {
  /* position: relative;   */
  font-family: "La Belle Aurore", cursive;
  letter-spacing: 0.1em;
  text-align: center;
  animation-name: slow_appear1;
  animation-duration: 5s;

  color: white;
  background-color: black;
  width: 100%;
  display: block;
}

#top_of_site_section h1 {
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
  font-size: 3.5em;
  position: relative;
  align-self: center;
  height: 100%;
  line-height: 5em;
  z-index: 1;
}

#identity_subheading {
  grid-column: 2 / span 1;
  grid-row: 3 / span 1;
  font-size: 2.3em;
  top: 180px;

  z-index: 1;
}

.parent_span,
.programmer_span {
  font-size: 0.3em;
  color: rgba(255, 255, 255, 0.5);
  font-family: Arial, Helvetica, sans-serif;
}

.parent_span:hover,
.programmer_span:hover {
  color: white;
}

/* This is an animation for our headings with a slow fade in */

@keyframes slow_appear1 {
  0% {
    color: black;
  }
  50% {
    color: rgb(116, 116, 116);
  }
  100% {
    color: white;
  }
}

/* Navigation styling, found on the top of the site (right) or near top (phone / tablet) */

#my_nav {
  grid-column: 2 / span 1;
  grid-row: 4 / span 1;
  position: relative;
  background-color: black;
  padding: 120px 0 0 0;

  justify-content: center;

  /* box-shadow: -3px 5px 10px 0px rgb(0, 0, 0); */
}

.nav_item,
.nav_dot {
  font-weight: bold;
  text-align: center;
  font-size: 0.9em;
  letter-spacing: 0.6em;
  color: rgba(255, 255, 255, 0.5);

  font-family: Arial, Helvetica, sans-serif;
  padding: 8px;
}

.nav_item:hover {
  color: white;
  font-size: 1em;
}

/* Additional slow fade into color with opacity finish for our navigation. Timed against the other keyframe. */

@keyframes slow_appear_nav {
  0% {
    color: black;
  }
  25% {
    color: black;
  }
  75% {
    color: rgb(92, 92, 92);
  }
  90% {
    color: white;
  }
  100% {
    color: rgba(255, 255, 255, 0.6);
  }
}

/* Our cursive script is styled here */

#mission_statement_1 {
  grid-column: 1 / span 2;
  grid-row: 5 / span 1;
  color: black;
  background-color: white;
}

#mission_statement_1,
#mission_statement_2,
#portfolio_statement {
  height: 100px;
  width: 100%;
  text-align: center;
  padding: 20px;
  font-size: 2em;
  font-family: "La Belle Aurore", cursive;
}

/* This is a large section which holds the majority of our content. It is worth viewing the 
HTML comments as there are many components used. It may be noted that the semantic tags and 
id's of the elements assists greatly here to identify each component section.  */

main {
  display: grid;
  width: 100%;
  grid-template-columns: 7% 46% 9% 8% 30%;
  /* grid-template-columns: 7% 43% 10% 15% 25%; */
  grid-template-rows: 400px 90px 325px 280px 200px 1fr 15px;
  overflow: hidden;
}

#heading_about {
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
  display: flex;
  z-index: 1;

  background-color: black;
  border-right: 0.5px solid red;

  font-size: 6.2em;
  font-family: "Poppins", sans-serif;
  color: rgb(255, 255, 255);
  -webkit-text-fill-color: rgb(0, 0, 0);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(255, 255, 255);
}

/* Rotation applied to our sidebar heading */

.rotate270 {
  transform: rotate(270deg);
}

main figure {
  grid-column: 2 / span 2;
  grid-row: 1 / span 1;
  display: flex;
  position: relative;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.4);
  /* background-color: rgba(255, 0, 0, 0.342); */
}

/* This applies to the image found in the about section */

#t_view {
  position: relative;
  min-height: 100%;
}

/* Containers assist with the control of styling and create visual pathways */

#container_about_paragraphs {
  grid-column: 4 / span 2;
  grid-row: 1 / span 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;

  min-width: 100%;
  height: 100%;
  padding: 10px 20px;
  background-color: rgb(20, 20, 20);
  border-top: 1px solid red;
  box-shadow: -3px 3px 10px 0px rgb(0, 0, 0);
}

#container_about_paragraphs p {
  margin: 20px;
  color: white;
  text-align: justify;
}

/* #mission_statement_2 {} style found in style_head.css with mission_statement_1 */
#mission_statement_2 {
  grid-column: 1 / span 5;
  grid-row: 2 / span 1;
}

#container_programming_paragraphs {
  grid-column: 1 / span 3;
  grid-row: 3 / span 1;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: -1;
  padding: 0px 20px 10px 20px;
}

#container_programming_paragraphs p {
  color: black;
  margin: 20px;
  text-align: justify;
}

#container_qualifications {
  grid-column: 2 / span 1;
  grid-row: 4 / span 1;
  display: flex;
  flex-wrap: wrap;

  background-color: rgb(40, 40, 40);
  padding: 0px 10px;

  border-left: 1px solid rgba(255, 0, 0, 0.507);
  box-shadow: -8px 8px 10px 0px rgb(0, 0, 0);

  position: relative;
  font-size: 1.2em;
}

#container_qualifications p {
  color: white;
  padding: 15px;
  text-align: center;
  font-size: 0.8em;
  width: 100%;
}

/* Additional rotate option for sidebar (rhs) */

.rotate90 {
  transform: rotate(90deg);
}

/* fairly significant styling for this rotated sidebar major heading */

#heading_full_stack_dev {
  display: flex;

  grid-column: 4 / span 1;
  grid-row: 3 / span 3;
  font-size: 5.4em;
  font-family: "Poppins", sans-serif;

  color: rgb(255, 255, 255);
  -webkit-text-fill-color: rgb(0, 0, 0);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgba(255, 255, 255, 0.9);

  background-color: black;
  border-left: 3px solid red;
  z-index: 1;

  margin-bottom: 15px;
  transform-origin: left;

  justify-content: flex-end;
  height: 100%;
  line-height: 1.5em;
}

/* Container for the posts is responsive and has a hover effect. It is simple in design but 
    this works quite well in the website to give it a professional or elegant look. The content 
    is humourous but the display is professional. */

#container_posts {
  grid-column: 1 / span 5;
  grid-row: 6 / span 1;
  width: 100%;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;

  /* background-color: rgb(243, 113, 113); */
}

#container_posts p {
  text-align: center;
  color: rgba(0, 0, 0, 0.7);
  width: 180px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgb(43, 43, 43);
  border-top: 1px solid rgb(27, 27, 27);
  padding: 10px;
  margin: 30px 10px 10px 10px;
  line-height: 2;
}

#container_posts p:hover {
  border-top: 1px solid red;
  border-bottom: 1px solid red;
}

.italics {
  font-style: italic;
}
.date_text {
  color: rgba(66, 66, 66, 0.8);
  text-decoration: underline;
}

/* Only smiling photo, so works as a good identifier in this case */

#photo_smile {
  display: flex;
  justify-content: center;
  grid-column: 5 / span 1;
  grid-row: 3 / span 3;
  background-color: white;
}

#photo_smile > img {
  position: relative;
  height: 100%;
}

/* additional #mission_statement_3 {} style found in style_head.css with mission_statement_1 */
#portfolio_statement {
  grid-column: 2 / span 1;
  grid-row: 5 / span 1;
  display: flex;

  justify-content: center;
  padding: 10% 25px;
}

/* Semantic tag and descriptive element identies help locate each section here and 
    there are more comments in the HTML */

footer {
  display: grid;
  grid-template-columns: 3% 25% 46% 25% 3%;
  grid-template-rows: 25px;
  background-color: black;
  padding: 20px;
  justify-content: space-around;
}

footer section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 30px;
  position: relative;
  border-left: 2px solid red;
  border-right: 2px solid red;
}

#socials_section {
  grid-column: 2 / span1;
  grid-row: 1 / span 1;
  width: 25%;
}

#my_socials {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
}

#my_socials a {
  color: white;
  font-size: 1.5em;
}

/* Style all font awesome icons */
.fa {
  position: relative;
  padding: 20px;
  font-size: 50px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  color: white;
}

#footer_heading {
  grid-column: 3 / span 1;
  grid-row: 1 / span 1;
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 2.5em;
  color: white;
}

#footer_address {
  grid-column: 4 / span 1;
  grid-row: 1 / span 1;
  width: 100%;

  display: flex;
  justify-content: center;
}

#footer_address p {
  position: relative;
  color: rgba(255, 255, 255, 0.8);
  font-family: Arial, Helvetica, sans-serif;
  margin: auto;
  letter-spacing: 0.3em;
  font-size: 0.8em;
}

#shrink_email_numbers {
  font-size: 0.9em;
}

/* This final section ensures that the anchor links behave as desired. */

a,
a:link,
a:active,
a:visited {
  text-decoration: none;
  color: white;
}
